.email-form {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
  }
  
  .contact-preference {
    display: flex;
    justify-content: space-around;
  }

  .required {
      color: red;
  }