.form-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0,0,0,0.65);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}


.email-form {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    background: white;
    box-sizing: border-box;
    margin: 5em;
    width: 60%;
    min-width: 20em;
}

.email-form h1 {
  margin-top: 0;
}

.email-form nav {
  display: flex;
  justify-content: flex-end;
}
  
.contact-preference {
  display: flex;
  justify-content: space-around;
}

.required {
    color: red;
}